/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h2, p{
  font-family: "Concert One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: "Concert One", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Concert One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

tr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  padding: 1rem;
}
